pocACIAF/Service References/SubtractionService/Subtraction2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Subtraction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Subtraction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfMathData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MathData" nillable="true" type="tns:MathData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMathData" nillable="true" type="tns:ArrayOfMathData" />
  <xs:complexType name="MathData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FArg1" type="xs:int" />
      <xs:element minOccurs="0" name="FArg2" type="xs:int" />
      <xs:element minOccurs="0" name="FRsltArg" type="xs:int" />
      <xs:element minOccurs="0" name="StrArg1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrArg2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrConcatRslt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathData" nillable="true" type="tns:MathData" />
</xs:schema>