pocACIAF/Service References/AdditionService/Addition.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Addition" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Addition/Addition.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Addition/Addition.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Addition/Addition.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Addition" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddition_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAddition_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAddition_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAddition_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IAddition_GetDataUsingDataContract1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract1" />
  </wsdl:message>
  <wsdl:message name="IAddition_GetDataUsingDataContract1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract1Response" />
  </wsdl:message>
  <wsdl:message name="IAddition_AddUD_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUD" />
  </wsdl:message>
  <wsdl:message name="IAddition_AddUD_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUDResponse" />
  </wsdl:message>
  <wsdl:message name="IAddition_AddArray_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArray" />
  </wsdl:message>
  <wsdl:message name="IAddition_AddArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArrayResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddition">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddition/GetData" message="tns:IAddition_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddition/GetDataResponse" message="tns:IAddition_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddition/GetDataUsingDataContract" message="tns:IAddition_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddition/GetDataUsingDataContractResponse" message="tns:IAddition_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract1">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddition/GetDataUsingDataContract1" message="tns:IAddition_GetDataUsingDataContract1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddition/GetDataUsingDataContract1Response" message="tns:IAddition_GetDataUsingDataContract1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUD">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddition/AddUD" message="tns:IAddition_AddUD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddition/AddUDResponse" message="tns:IAddition_AddUD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddition/AddArray" message="tns:IAddition_AddArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddition/AddArrayResponse" message="tns:IAddition_AddArray_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddition" type="tns:IAddition">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IAddition/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IAddition/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract1">
      <soap:operation soapAction="http://tempuri.org/IAddition/GetDataUsingDataContract1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUD">
      <soap:operation soapAction="http://tempuri.org/IAddition/AddUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArray">
      <soap:operation soapAction="http://tempuri.org/IAddition/AddArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Addition">
    <wsdl:port name="BasicHttpBinding_IAddition" binding="tns:BasicHttpBinding_IAddition">
      <soap:address location="http://localhost/Addition/Addition.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>